@import "tailwindcss";

@theme {
  --color-background: #141516;
  --color-background-secondary: #202124;
  --color-text: #F6F7F9;
  --color-text-secondary: #A3A3A3;
  --color-border: #232728;
  --color-primary: #94FA0F;
  --color-akcent-modra: #2FC8FA;
  --color-akcent-zlta: #FFD166;
  --color-error: #FF5B5B;
  --font-courier: "Courier Prime", monospace;
  --font-courgette: "Courgette", cursive;
}

body {
  @apply flex flex-col uppercase min-h-screen bg-background font-courier;
}

header {
  @apply text-text;
}

h1 {
  @apply font-bold text-5xl text-text lg:text-7xl;
}

h2 {
  @apply text-2xl font-bold text-primary lg:text-4xl;
}

h3 {
  @apply text-xl font-semibold text-text lg:text-2xl;
}

form {
  @apply flex flex-col gap-4 rounded-2xl p-2.5 inset-shadow-[0_0_3px_0px_rgba(246,247,249,25)] bg-background-secondary w-full md:w-[450px];
}

label {
  @apply text-text text-sm;
}

input {
  @apply bg-background border border-text rounded-lg p-2.5 text-text;
}

textarea {
  @apply bg-background border border-text rounded-lg p-2.5 text-text;
}

.button {
  @apply border-2 px-4 py-2 rounded-lg text-center text-akcent-zlta border-akcent-zlta hover:bg-akcent-zlta hover:text-background;
}

/* Zručnosti */
.skill {
  @apply mb-4;
}

.skill-bar {
  @apply relative w-full h-5 rounded-lg overflow-hidden;
}

.skill-level {
  @apply absolute top-0 left-0 h-full rounded-lg transition-all duration-1000 ease-out;
}

/* Pre onload animáciu */
.skill-level.auto-animate {
  animation: fillSkill 2s ease-out forwards;
  animation-delay: var(--delay, 0s);
}

@keyframes fillSkill {
  from {
    width: 0;
  }
}

/* Zručnosti koniec */

/* Portfolio */

.portfolioKarta {
  @apply flex flex-col justify-between h-full rounded-2xl p-2.5 inset-shadow-[0_0_3px_0px_rgba(246,247,249,25)] bg-background-secondary sm:h-[600px] lg:h-[650px] lg:p-5;
}

.vertical-scroll-container {
  @apply h-[520px] sm:h-[600px] lg:h-[650px] overflow-y-auto space-y-8;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.vertical-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.vertical-scroll-slide {
  @apply h-[520px] sm:h-[600px] lg:h-[650px];
  scroll-snap-align: start;
}

/* Portfolio koniec */

/* Skúsenosti */

.expKarta {
  @apply h-[310px] rounded-2xl p-2.5 inset-shadow-[0_0_3px_0px_rgba(246,247,249,25)] bg-background-secondary;
}

/* Skúsenosti koniec */

/* o mne */

.border-foto {
  @apply border-4 border-primary rounded-full shadow-[0_0_20px_0px_rgba(148,250,15,55)] bg-background-secondary;
}

/* o mne koniec */