---
import Navigation from './Navigation.astro';

export interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;

const headingText = pageTitle;
---

<header class="p-2.5 lg:px-10">
  <div class="flex justify-between items-center mb-5">
    <p class="text-text font-courgette text-4xl normal-case"><a href="/">Mižu</a></p>
    <Navigation />
  </div>
  <h1>{headingText}</h1>
</header>
